{% extends 'base.html' %}

{% block title %}
Maquinas
{% endblock %}

{% block content %}
{% load static %}
<h1 class="title">Maquinas</h1>
<br>

{% include 'sidenav_mant.html' %}

{% for area in areas%}
<h2> {{ area }} </h2>
<hr>
<table class='table_cons_mod_del'>
    <tr>
        <th> Maquina </th>
        <th> Modelo </th>
        <th> Tipo </th>
        <th> Area </th>        
    </tr>
    {% for maquina in maquinas %}
        {% if maquina.modelo.tipo.area == area%}
            <tr>
                <td> <a href="{% url 'maquina' maquina.id %}"> {{ maquina }}</a> </td>
                <td>  {{ maquina.modelo }} </td>
                <td>  {{ maquina.modelo.tipo }} </td>
                <td>  {{ maquina.modelo.tipo.area }} </td>
            
            </tr>

        {% endif %}

    {% endfor %}
</table>
{% endfor %}

{% endblock %}