{% extends 'base.html' %}

{% block title %}
Elimina Realiza Mantenimiento
{% endblock %}

{% block content %}
{% load static %}

{% include 'sidenav_mant.html' %}
<h1 class="title">Elimina Realiza Mantenimiento</h1>

<br>

<h2> ¿Estás seguro que deseas eliminar el plan de mantenimiento {{realiza_mant}}? </h2>
<br>
<table>
    <tr>
        <th> Folio Plan </th>
        <td> {{realiza_mant.id}} </td>
    </tr>
    <tr>
        <th> Plan </th>
        <td> {{realiza_mant}} </td>
    </tr>
    <tr>
        <th> Maquina </th>
        <td> {{realiza_mant.plan_mant.mant.maquina}} </td>
    </tr>
    <tr>
        <th> Fecha Realizado </th>
        <td> {{realiza_mant.fecha_realizado}} </td>
    </tr>
    <tr>
        <th> Fecha Plan </th>
        <td> {{realiza_mant.plan_mant.fecha_plan}} </td>
    </tr>
    <tr>
        <th> Mantenimiento </th>
        <td>  {{realiza_mant.plan_mant.mant}}  </td>
    </tr>
    <tr>
        <th> Tareas </th>
        <td> <button type="button" onclick="location.href='{% url 'repxtareas' realiza_mant.plan_mant.mant.id%}'">Ver Tareas</button>  </td>
    </tr>
    <tr>
        <th> Horas </th>
        <td> {{realiza_mant.plan_mant.horas_plan}} </td>
    </tr>
    <tr>
        <th> Orden de Compra </th>
        <td> {{realiza_mant.plan_mant.orden_compra}} </td>
    </tr>
    <tr>
        <th> Notas Previas </th>
        <td> {{realiza_mant.plan_mant.notas}} </td>
    </tr>
    <tr>
        <th> Notas Real </th>
        <td> {{realiza_mant.notas_real}} </td>
    </tr>
</table>
<br>

<form action="{% url 'elimina_realiza_mant' realiza_mant.id%}" method='POST'>
    {% csrf_token %}
    <button type="button" onclick="location.href='{% url 'rep_realiza_mant'%}'">Cancelar</button>
    <br>
    <input class="elimina_button" type="submit" name="Eliminar" value="Eliminar">

</form>
{% endblock %}