{% extends 'base.html' %}

{% block title %}
Programa de Mantenimiento
{% endblock %}

{% block content %}
{% load static %}
{% include 'sidenav_mant.html'%}
<h1 class="title">Programa de Mantenimiento
    <button type="button" style="float: right;" onclick="location.href='{% url 'alta_plan_mant' %}'">Programar Mantenimiento</button>
</h1>
<br>
{% comment %}
{% if messages %}
    {% for message in messages %}
        <div class="messages">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% endcomment %}
<div class='cabecera'>
<form action='' >
    
    {{ form.as_p }}

    <input type='submit' value='Mostrar' />

</form>
</div>

<hr>

{% if fecha_ini %}
    {% for area in areas%}
    <br>
    <h2> {{ area }} </h2>
        {% for maquina in maquinas %}
            {% if maquina.modelo.tipo.area == area%}
            <table>
                <tr>
                    <th> Folio </th>
                    <th> Mantenimiento </th>
                    <th> Maquina </th>
                    <th> Fecha_plan </th>
                    <th> Consulta </th>
                    <th> Edita </th>
                    <th> Elimina </th>
                </tr>
                <br>
                {% for pend in pendientes %}
                    {% if maquina == pend.mant.maquina %}
                        <tr>
                            <td> {{pend.id}} </td>
                            <td> {{pend.mant}} </td>
                            <td> <a href="{% url 'maquina' maquina.id %}"> {{pend.mant.maquina}} </a> </td>
                            <td> {{pend.fecha_plan}} </td>
                            <td> <button type="button" onclick="location.href='{% url 'consulta_plan_mant' pend.id%}'">Consulta</button> </td>
                            <td> <button class="edita" type="button" onclick="location.href='{% url 'edit_plan_mant' pend.id%}'">Edita</button> </td>
                            <td> <button class="elimina" type="button" onclick="location.href='{% url 'elimina_plan_mant' pend.id%}'">Elimina</button> </td>
                        </tr>

                    {% endif %}
                {% endfor %}
            </table>
            {% endif %}

        {% endfor %}
    {% endfor %}
{% endif %}
{% comment %}
<p> {{planes}} </p>
<p> {{realizados}} </p>
<p> {{pendientes}} </p>
<p> {{maq_plan}} </p>
{% endcomment %}
{% endblock %}