{% extends 'base.html' %}

{% block title %}
Reporte de Documentos
{% endblock %}

{% block content %}
{% load static %}
{% include 'sidenav_mant.html'%}
<h1 class="title">Reporte de Documentos
    <button type="button" style="float: right;" onclick="location.href='{% url 'alta_doc' %}'">Alta Documento</button>
</h1>

<form action=''>
    {{ form }}
    <input type='submit' value='Mostrar'/>
</form>

{% for area in areas %}
<h3> {{area }} </h3>
    {% for maquina in maquinas %}
        {% if area == maquina.modelo.tipo.area %}
            <table>
                <tr>
                    <th> Nombre Documento </th>
                    <th> Maquina </th>
                    <th> Documento </th>
                    <th> Vínculo Sharepoint </th>
                </tr>
            {% for documento in documentos %}
                {% if documento.maquina == maquina %}
                <tr>
                    <td> {{documento.nombre_doc}} </td>
                    <td> {{documento.maquina}} </td>
                    <td> <a href="{{documento.documento.url}}"> Documento  </a></td>
                    <td> <a href="{{ documento.ruta_sharepoint}}"> Link </a></td>
                </tr>
                {% endif %}
            {% endfor %}
            </table>
        {% endif %}
    {% endfor %}    
{% endfor %}
{% endblock %}