{% extends 'base.html' %}

{% block title %}
Tareas por Mantenimiento
{% endblock %}

{% block content %}
{% include 'sidenav_mant.html'%}
<h1 class="title"> Tareas por Mantenimiento </h1>

{% if messages %}
    {% for message in messages %}
        <div class="messages">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% comment %}
<form action='' >
    {{ form.as_p }}
    <input type='submit' value='Mostrar' />

</form>
{% endcomment %}
{% for maquina in maquinas%}
<h2>  {{maquina}} </h2>

    {%for mant in mantenimiento %}
        {% if maquina == mant.maquina%}
    
            <h3> {{mant.tipo}} - {{mant.periodo}}</h3>
            <table>
                <tr>
                    <th style='width: 20%'> Tarea  </th>
                    <th> Descripcion </th>

                {% for tar in tarea %}
                    {% if mant == tar.mant%}

                        </tr>
                        <tr>
                            <td style='width: 20%'>  {{tar.tarea}}  </td>
                            <td> {{tar.descripcion}} </td>
                        </tr>
                     
                    {% endif %}
                        
                {% endfor %}
            </table>   
        {% endif %}        
    {% endfor %}

{% endfor %}
{% endblock %}