{% block sidenav %}

<div id='sidenav_mant' class='sidenav'>
    <ul>
        <li><a href="/inicio">Inicio</a></li>
        <li><a href="/mantenimiento">Mantenimiento</a>
            {% comment%}
            <ul>
                <li> <a href="/mantenimiento/maquinas">Maquinas</a> </li>
                <li> <a href="/mantenimiento/estatus">Estatus</a> </li>
            </ul>
            {% endcomment %}
        </li>
        <li> <a>Catálogos</a> </li>
    <hr>
        <li> <a href="{% url 'rep_maquinas' %}">Maquinas</a> </li>
        <li> <a href="{% url 'rep_mants' %}"> Mantenimientos </a> </li>
        <li> <a href="{% url 'rep_documentos'%}">Documentos</a> </li>

        <li> <a>Transacciones</a> </li>
    <hr>
        <li> <a href="{% url 'rep_estatus' %}">Estatus</a> </li>
        <li> <a href="{% url 'rep_planes_mant' %}"> Mantenimientos Planeados </a> </li>
        <li> <a href="{% url 'rep_realiza_mant' %}"> Mantenimientos Realizados </a> </li>
        <li> <a href="{% url 'graficos' %}"> Graficos </a> </li>   
    </ul>
  
    </div>

{% endblock %}